* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-height: 100vh;
  padding: 20px;
}

.info {
  font-size: 1.7rem;
  background-color: rgb(255, 123, 123);
  padding: 10px;
  width: 80%;
  text-align: center;
}

.player-board,
.cpu-board {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.gameboards {
  display: flex;
  gap: 50px;
}

.row {
  display: flex;
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid gray;
}

.row:first-child {
  border-top: 2px solid black;
}

.cell:first-child {
  border-left: 3px solid black;
}

.cell:last-child {
  border-right: 3px solid black;
}

.row:last-child {
  border-bottom: 2px solid black;
}

.visible {
  background-color: purple;
}

button {
  padding: 5px;
  font-size: 1.3rem;
  border: solid 1px black;
  border-radius: 10px;
}

.cpu {
  cursor: pointer;
}

.cell.cpu:not(.checked):hover {
  background-color: rgb(218, 218, 218);
}

.hit {
  background-color: red;
}

.miss {
  background-color: aqua;
}

.checked {
  cursor: default;
}
