* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-height: 100vh;
  padding: 20px;
}

.info {
  font-size: 1.7rem;
  background-color: rgb(255, 123, 123);
  padding: 10px;
  width: 30%;
  text-align: center;
}

.player-board,
.cpu-board {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.gameboards {
  display: flex;
  gap: 50px;
}

.row {
  display: flex;
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid gray;
  transition: background-color 0.2s ease-in-out;
}

.row:first-child {
  border-top: 2px solid black;
}

.cell:first-child {
  border-left: 3px solid black;
}

.cell:last-child {
  border-right: 3px solid black;
}

.row:last-child {
  border-bottom: 2px solid black;
}

.visible {
  background-color: rgb(0, 41, 117);
}

button {
  padding: 5px;
  font-size: 1.3rem;
  border: solid 1px black;
  border-radius: 10px;
}

.cpu {
  cursor: pointer;
}

.cell.cpu:not(.checked):hover {
  background-color: rgb(218, 218, 218);
}

.hit {
  position: relative;
  background-color: red;
}

.hit.checked::before,
.hit.checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 2px;
  background-color: black;
  transform-origin: center;
}

.hit.checked::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.hit.checked::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.miss {
  position: relative;
  background-color: aqua; /* Background color of the cell */
}

.miss::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px; /* Size of the dot */
  height: 10px;
  background-color: white;
  border-radius: 50%; /* Makes it a circle */
  transform: translate(-50%, -50%);
}

.checked {
  cursor: default;
}
